@mixin center-all-items{
    display: flex;
        justify-content: center;
        align-items: center;
}
@mixin save-btn-style{
    width: 78px;
    height: 44px;
    border-radius: 10px;
    outline: none;
    border:none;
    cursor: pointer;
    transition: 0.2s;
    color: white;
    background-color: #00bac7;
}
@mixin search-bar-input{
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #20ACB5;
    width: 465px;
    outline:none;
    height: 37px;
}
@mixin note-card-size{
   
    width: 300px;
    height: 350px;
    border-radius: 15px;
}
@mixin card-header-size{
    height: 42px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}
@mixin sidebar-text{
    width: 200px;
    padding: 6px 30px;
    margin-bottom: 10px;
    color: #193055;
    font-size: 17px;
    font-weight: 700;
    border: 1px solid #95add7;
    border-radius: 8px;
    background-color: white;
}

@mixin for-size($screen) {
    @if $screen ==tablet {
      @media screen and (max-width: 1440px) {
        @content;
      }
    }
  
    @else if $screen ==mobile {
      @media screen and (max-width: 1190px) {
        @content;
      }
    }
  }