* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "./mixins";
@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-Light.ttf) format("truetype");
  font-weight: 300;
}
html {
  font-family: "Montserrat";
  color: white;
}
body {
  height: 100vh;
  background-color: #4a5e7e;

  .side-bar {
    position: fixed;
    z-index: 100;
    @include for-size(mobile){
      display: none;
    }
    
    .side-bar-content {
      padding-top: 30px;
      padding-left: 20px;
      width: 300px;
      height: 100vh;
      display: none;
      background-color: #93aad1;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        transition: transform 0.3s ease-in-out; 
  
      p {
        @include sidebar-text;
        transition: 0.1s;
      }
      p:hover {
        transform: scale(1.1);
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
          rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
      }
    }
    .side-bar-content.open {
        display: block;
        top: -20px;
       
      }
      

    img {
      cursor: pointer;
      width: 30px;
      margin-left: 30px;
      transform: translateY(30px);
      transition: 0.1s;
    }
    img:hover {
      box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
  }

  header {
    @include center-all-items;
    padding-top: 30px;
    margin-bottom: 20px;

    @include for-size(tablet){
      margin: auto;
    }
    h1 {
      font-size: 26px;
      font-weight: 400;
      text-shadow: -2px 0px 9px rgba(0, 0, 0, 0.25);
    }
  }
  .input-box {
    @include center-all-items;
    flex-direction: column;
    

    form {
      display: flex;
      flex-direction: column;
      @include for-size(mobile){
        @include center-all-items;
      }
      .noteTitle {
        @include for-size(mobile){
          width: 350px;
        }
        outline: none;
        border: 2px solid #20acb5;
        border-radius: 5px;
        width: 465px;
        height: 40px;
        padding: 10px;
        margin-bottom: 25px;
      }
      .noteContent {
        @include for-size(tablet){
          width: 100%;
        }
        outline: none;
        padding: 10px;
        border-radius: 5px;
        border: 2px solid #20acb5;
        height: 205px;
      }
    }
    .bottom-notepad {
      margin-top: 20px;
      display: flex;
      width: 465px;
      justify-content: space-between;
      align-items: center;
      @include for-size(mobile){
       
        display: flex;
        gap: 20px;
        width: 100%;
        flex-direction: column;
      }

      #save-btn {
        @include save-btn-style;
      }
      #save-btn:hover {
        transform: scale(1.05);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }

      .color-btns {
        button {
          width: 44px;
          height: 44px;
          border-radius: 50px;
          border: 2px solid transparent;
          margin-right: 10px;
          transition: 0.2s;
          cursor: pointer;

          
        }
        .color.active{
          border-color: white;
        }
        button:hover {
          transform: scale(1.1);
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
        #pink {
          background-color: pink;
          
        }
        #purple {
          background-color: rgb(141, 69, 141);
        }
        #blue {
          background-color: rgb(122, 193, 255);
        }
        #yellow {
          background-color: rgb(255, 255, 93);
        }
        #green {
          background-color: rgb(81, 171, 81);
        }
      }
    }
    .search-box {
      margin-top: 15px;
      
      input {
        @include search-bar-input;
        @include for-size(mobile){
          width: 300px;
        }
      }
      img {
        width: 28px;
        position: absolute;
        transform: translate(-40px, 7px);
      }
    }
  }
  .cards-box {
    display: flex;

    margin: auto;
    transform: translateY(10px);
   
    height: fit-content;

    .cards {
      flex-wrap: wrap;
      display: flex;
      margin: auto;
      gap: 30px;
      justify-content: center;
      .pink {
        .card-header{
            background-color: pink;
        }
      }

      .purple {
        .card-header {
          background-color: purple;
        }
      }

      .blue {
        .card-header {
          background-color: rgb(122, 193, 255);
        }
      }

      .yellow {
        .card-header {
          background-color: rgb(255, 255, 93);
        }
      }

      .green {
        .card-header {
          background-color: rgb(81, 171, 81);
        }
      }

      .card {
        @include note-card-size;
        border: 2px dotted pink;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        .card-header {
          @include card-header-size;
          background-color: pink;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          h5 {
            color: rgb(45, 45, 45);
            font-size: 15px;
          }
          button{
            background-color: transparent;
            border: none;
          }
          img {
            cursor: pointer;
            width: 15px;
            transition: 0.2s;
          }
          img:hover {
            transform: scale(1.1);
          }
        }
        .note-content {
          padding: 10px;
          p {
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
  footer {
    
    margin-top: 30px;
    height: 250px;
    background-color: #1a4b73;
    box-shadow: rgba(100, 100, 111, 0.2) 20px 7px 29px 0px;
    @include for-size(tablet){
      height: 100%;
    }
    .social-medias {
      @include center-all-items;
      gap: 30px;
      padding: 20px;
      @include for-size(mobile){
        gap: 15px;
      }
      img {
        width: 50px;
        cursor: pointer;
        box-shadow: rgba(100, 100, 111, 0.2) 20px 7px 29px 0px;
        transition: 0.2s;
      }
      img:hover {
        transform: scale(1.1);
      }
    }
    .footer-label {
      @include center-all-items;
      flex-direction: column;
      padding: 30px;
      h6 {
        font-size: 30px;
        font-weight: 400;
        @include for-size(mobile){
          font-size: 14px;
        }
      }
      p {
        font-size: 26px;
        font-weight: 700;
      }
    }
  }
}
